/** BASIC */

body {
	text-align: justify;
	font-family: 'DotGothic16', sans-serif;
    font-size: 17px;
    background-image: url("b6.png");
    background-repeat: no-repeat;
    background-color: #160c0e;
    background-attachment: fixed;
    background-size: 25% auto;
}

h1, h2, h3 {
	text-transform: lowercase;
	color: #ff05c4;
}

ul {
	margin-left: 0px;
	padding-left: 1em;
	list-style-position: inside;
}

a {
	color: #ff05c4;
}

a:hover {
	text-decoration: none;
	color: #990000;
}

/** HEADER */

#header {
	width: 700px;
	height: 60px;
	margin: 0px auto;
}

#header h1 {
	float: left;
	margin: 0px;
	padding: 20px 0px 0px 0px;
}

#header h2 {
	float: right;
	margin: 0px;
	padding: 27px 0px 0px 0px;
}

/** MENU */

#menu {
	width: 700px;
	height: 1.9em;
	margin: 0px auto;
	border: 1px solid #ff05c4;
}

#menu ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

#menu li {
	display: inline;
}

#menu a {
	display: block;
	float: left;
	padding: 4px 10px;
	border-right: 5px solid #367c39;
	text-decoration: none;
}

#menu a:hover {
	background: #367c39;
	color: black;
}

/** CONTENT */

#content {
	width: 700px;
	margin: 0px auto;
}

#content h2 {
	font-weight: normal;
}

#left {
	float: left;
	width: 480px;
}

#right {
	float: right;
	width: 200px;
}

/** FOOTER */

#footer {
	clear: both;
	width: 680px;
	margin: 0px auto;
	padding: 5px 10px;
	border: 1px solid #ff05c4;
}

#footer p {
	margin: 0px;
	padding: 0px;
	font-size: x-small;
}
