/** BASIC */

body {
	text-align: center;
	font-family: 'DotGothic16', sans-serif;
    font-size: 17px;
    background-image: url("IMG_3784.jpeg");
    background-size: 100% auto;
}

h1, h2, h3 {
	text-transform: lowercase;
	color: #ff05c4;
}

ul {
    list-style-type: "→";
	margin-left: 0px;
	padding-left: 1em;
	list-style-position: inside;
    color:white;
}

a {
	color: #ff05c4;
}

a:hover {
	text-decoration: none;
	color: white;
}

/** HEADER */

#header {
	width: 700px;
	height: 60px;
	margin: 0px auto;
}

#header h1 {
	float: left;
	margin: 0px;
	padding: 20px 0px 0px 0px;
}

#header h2 {
	float: right;
	margin: 0px;
	padding: 27px 0px 0px 0px;
}

/** MENU */

#menu {
	width: 700px;
	height: 1.9em;
	margin: 0px auto;
	border: 1px solid #ff05c4;
}

#menu ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

#menu li {
	display: inline;
}

#menu a {
	display: block;
	float: left;
	padding: 4px 10px;
	border-right: 5px solid #ff05c4;
	text-decoration: none;
}

#menu a:hover {
	background: #ff05c4;
	color: black;
}

/** CONTENT */

#content {
	width: 650px;
	margin: 0px auto;
    padding: 25px 25px;
    background-color: rgba(76, 175, 80, 0.3);
}

#content h2 {
	font-weight: normal;
}

#left {
	float: left;
	width: 480px;
}

#right {
	float: right;
	width: 200px;
}

/** FOOTER */

#footer {
	clear: both;
	width: 680px;
	margin: 0px auto;
	padding: 5px 10px;
	border: 1px solid #ff05c4;
}

#footer p {
	margin: 0px;
	padding: 0px;
	font-size: x-small;
    color: white;
}

marquee {
       width: 100%;
       padding: 10px 0;
       background-color: rgba(76, 94, 242, 0.5);
     }
